@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&subset=latin-ext');
body {
	font-family: 'Raleway', sans-serif;
}
section, footer {
	padding: 5em 0;
}
h3 {
	text-transform: uppercase;
	padding-bottom: 1em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	padding-bottom: 1em;
}
.navbar .nav-item a {
	color: #343a40!important;
	font-weight: bold;
}
.nav-item a.nav-link:hover {
	color: #28a745!important;
}
.time {
	vertical-align: top;
	font-weight: bold;
}
#map {
	width: 100%;
	height: 400px;
	background-color: grey;
  }
table tr {
	margin: 10em!important;
}
