@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900&subset=latin-ext');
body {
	font-family: 'Raleway', sans-serif;
}
section, footer {
	padding: 5em 0;
}
h3 {
	text-transform: uppercase;
	padding-bottom: 1em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	padding-bottom: 1em;
}
.navbar .nav-item a {
	color: #343a40!important;
	font-weight: bold;
}
.nav-item a.nav-link:hover {
	color: #28a745!important;
}
.navbar .nav-item a.active {
	color: #28a745!important;
}
.time {
	vertical-align: top;
	font-weight: bold;
}
.btn { 
	padding: 0.4rem 1.4rem; 
	border-radius: 30px; 
}

table tr {
	margin: 10em!important;
}
.about-us p {
	font-size: 1.1em;
}
.supporter {
	padding: 1em;
	max-width: 230px;
}
.social {
	margin-top: 1em;
}
.social a {
	color: #b9b9b9;
	font-size:1.2em;
}
.social a:not(:first-child) {
	margin-left:0.5em;
	}

.social a:hover {
	opacity: 0.5;
}

.speakers {
	margin: 3em 0;
}
.speakers img {
	max-width: 200px;
}
.abstract p {
	margin-bottom: 1.5em;
}
.address {
	margin-bottom: 3em;
}

